body {
    font-family: Arial;
    background-color: #f2f5fa;
    margin: 0;
    padding: 30px;
}

.container {
    width: 850px;
    margin: 30px auto;
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}


/* Left Side */

.left {
    width: 50%;
    background-color: #4f7df3;
    color: white;
    padding: 50px;
}

.logo {
    font-size: 40px;
    margin-bottom: 15px;
}

.left h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.left p {
    line-height: 1.6;
}


/* Right Side */

.right {
    width: 50%;
    padding: 50px;
}

.right h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.right label {
    display: block;
    margin-top: 20px;
}

.right input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.right a {
    display: block;
    margin-top: 15px;
    color: #4f7df3;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background-color: #4f7df3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #315fcf;
} 

.password-box {
    position: relative;
}

.password-box input {
    padding-right: 40px;
}

.password-box button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    width: 35px !important;
    margin: 0 !important;
    padding: 0 !important;

    background: transparent !important;
    color: #555;

    border: none;
    cursor: pointer;
}